.videoCard {
    width: 350px;
    margin: 2rem 0 0.25rem 2rem;
    cursor: pointer;
}

.videoCard__thumbnail {
    width: 350px;
    height: 220px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;
}

.videoCard__thumbnail:hover {
    transform: scale(1.05);
}

.videoCard__info {
    display: flex;
    gap: 1rem;
}

.videoCard__avatar {
    width: 2rem !important;
    height: 2rem !important;
}

.videoCard__text>h4 {
    margin-bottom: 10px;
}

.videoCard__text>p {
    color: gray;
}