.header__right {
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
}

.header__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    width: 60%;
    flex-shrink: 2;
}

.header__input.darkTheme {
    border: 1px solid rgb(46, 45, 45);
}

.header__input>input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 1rem;
}


.header__inputButton {
    background-color: #fafafa;
    color: black;
    border-left: 1px solid lightgray;
    border-radius: 0 50px 50px 0px;
    padding: 5px;
}

.header__inputButton.darkTheme {
    background-color: rgb(44, 43, 43);
    color: white;
    border-left: 1px solid rgb(46, 45, 45);
}

.header__inputButton.darkTheme:hover {
    background-color: rgb(34, 34, 34);
}

.header__inputButton:hover {
    cursor: pointer;
    background-color: lightgray
}

.header__SearchImg {
    width: 3rem !important;
}


.header__icons {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 0.5rem;
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 8px;
    border-radius: 50%;
}

.header__icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.header__AvatarIcon {
    cursor: pointer;
}

.header__icon.darkTheme:hover {
    background-color: rgb(41, 39, 39);
}


@media screen and (max-width: 767px) {
    .header__input {
        display: none;
    }
}