.header__left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 2rem;
}

.header__menuButton {
    padding: 8px;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50%;
}

.header__menuButton:hover {
    background-color: lightgray;
    cursor: pointer;
}

.header__logo {
    cursor: pointer;
    height: 25px;
    object-fit: contain;
}


.darkTheme>.header__menuButton:hover {
    background-color: rgb(41, 39, 39)
}