.channelRow {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.channelRow__Img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.channelRow__Info {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
}

.channelRow__Info>p {
    color: gray;
    font-size: 12px;
    margin: 0.5rem 0 0 0;
}


.channelRow__Title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.channelRow__TitleTick {
    color: red;
}

.channelRow__Title>h3 {
    font-size: 1.25rem;
    font-weight: 400;
}