.recommended-videos {
    margin: 1rem 0;
    /* padding-right: 2rem; */
}

.recommended-videos>h2 {
    margin-left: 4rem;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}